@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#introImg{
    height:100vh;
    width: 100%;
}
@keyframes ani {
    0% {margin-top: 0px;}
	100% {margin-top: 10px;}
  }
.down{
    position:absolute;
    text-align: center;
    top:70%;
    left:50%;
    z-index:10;
    display: inline-block;
    color:white;
    font-size:50px;
    animation: ani 1s linear;
    animation-iteration-count: infinite;
}

.main {
    z-index:1;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
}
.logo{
    top:0;
    left:0;
    z-index:10;
    position:absolute;
}
.mainph{
    height: 100vh;
}
div {
    display: block;
    font-size: 20px;
}
*   { 
    margin:0;
}

.sub{
    font-family: 'Cafe24SsurroundAir';
    background-color: #fff;
    padding-top: 70px;
    
    text-decoration: none;
   
}
.map{
    display: block; 
    margin: 0px auto;
    z-index:0;
    position:relative;
    width:80%;
    height:80%;
}
.locate{
    display: block; 
    position:absolute;
    z-index:10;
    
}
.eunpyeong{
    top:27%;
    left:39%;
}
.locate:hover{
    font-size:27px;
    cursor:pointer;
    font-weight: bold;
    text-shadow: 1px 1px 1px gray; 
   
}
a{
    text-decoration:none !important

}
.info{

    z-index:10;
    display: block; 
    background-color: aquamarine;
    width:200px;
    height:100px;
    border-radius: 80%;
    margin-left:80%;
    margin-bottom:20px;
    
}