@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Cafe24SsurroundAir';
}
#introImg{
    height:100vh;
    width: 100%;
}
@keyframes ani {
    0% {margin-top: 0px;}
	100% {margin-top: 10px;}
  }
.down{
    position:absolute;
    text-align: center;
    top:70%;
    left:50%;
    z-index:10;
    display: inline-block;
    color:white;
    font-size:50px;
    animation: ani 1s linear;
    animation-iteration-count: infinite;
}

.main {
    z-index:1;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
}
.logo{
    top:0;
    left:0;
    z-index:100;
    position:absolute;
}
.ml{
    position:absolute;
    /* bottom:0.11%; */
    /* right:1%; */
}
.mainph{
    height: 100vh;
}
div {
    display: block;
    font-size: 1.5rem;
}
*   { 
    margin:0;
   
}

.sub{
    font-family: 'Cafe24SsurroundAir';
    background-color: #fff;
    padding-top: 70px;
    
    text-decoration: none;
   
}
.map{
    display: block; 
    margin: 0px auto;
    z-index:0;
    position:relative;
    width:80%;
    height:80%;
    color:black;
}
.locate{
    display: block; 
    position:absolute;
    z-index:10;
    
}
.eunpyeong{
    top:27%;
    left:39%;
}
.seodae{
    top: 45%;
    left:39%;
}
.mapo{
    top: 50%;
    left:33%;
}
.jongro{
    top:37%;
    left: 46%;
}
.seongbuk{
    top:37%;
    left: 56%;
}
.kangbuk{
    top:27%;
    left: 56%;
}
.seongbuk{
    top:37%;
    left: 56%;
}
.nowon{
    top:17%;
    left: 58%;
}
.dobong{
    top:17%;
    left: 66%;
}
.jungrang{
    top:38%;
    left: 69%;
}.dongdae{
    top:42%;
    left: 62%;
}
.jung{
    top:50%;
    left: 50%;
}
.yongsan{
    top:58%;
    left: 48%;
}
.seongdong{
    top:52%;
    left: 59%;
}
.kwangjin{
    top:55%;
    left: 68%;
}
.songpa{
    top:68%;
    left: 73%;
}
.kangdong{
    top:54%;
    left: 80%;
}
.kangnam{
    top:70%;
    left: 60%;
}
.seocho{
    top:75%;
    left: 53%;
}
.dongjak{
    top:68%;
    left: 41%;
}
.kwanak{
    top:78%;
    left: 41%;
}
.keumcheon{
    top:80%;
    left: 31%;
}
.kuro{
    top:69%;
    left: 25%;
}
.yangcheon{
    top:62%;
    left: 23%;
}
.yeongdeung{
    top:62%;
    left: 33%;
}
.kangseo{
    top:50%;
    left: 18%;
}
.locate:hover{
    font-size:2rem;
    cursor:pointer;
    font-weight: bold;
    text-shadow: 1px 1px 1px gray; 
   
}
a{
    text-decoration:none !important;
    color:#000;
    

}
.footer img{
    margin-left:70%;
}
.footer a{
   
    position:absolute;
    z-index:100;
    left:77%;
    top:30%;
    text-align: center;
    
}

/*
.footer{
    position: absolute;
    z-index:10;
    width:200px;
    height:100px;
    margin-left:70%;
    margin-bottom:20px;
    text-align: center;
    justify-content: center;  
}

.info img{
    
}   

.info p{
    z-index:2;
    position:absolute;
    left:80%;
    top:90%;
}*/