@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
*{
    margin:0;
    font-family: 'Cafe24SsurroundAir';
}
div{
    display:block;
    font-size:20px;
}
/*
.img{
    width:150px;
    height:100px;
}
*/
.travel{
    background-color: #FBFBEF;
    padding: 104px 0;
    overflow:hidden;
}
strong{
    font-size:4rem;
}
.restaurant{
    background-color: #FBFBEF;
    padding: 50px 0 10px;
    font-size:15px;
    
}
.restaurant h1{
    padding-bottom:50px;
}
.restaurant .rt{
    padding-bottom:50px;
    font-size:70px;
}
.footer{
    background-color: #FBFBEF;
    width:100%;

    
}
.footer a{
    text-decoration: none;
}
.footer a:hover{
    color:#000;
}
.travel .travel-info {
    position:relative;
}
.travel .travel-info .txt{
    position: absolute;
    display:block;
    margin-bottom: 200px;
    width: 34%;
    top: 50%;
    transform: translateY(-50%);
    left:50%;
    font-size: 2rem;
}
.travel .travel-info .img{
    padding:5%;
}
.travel .travel-info .tr{
    padding-left:50%;
}

@keyframes ani {
    0% {margin-top: 0px;}
	100% {margin-top: 10px;}
  }
.down{
    animation: ani 1s linear;
    animation-iteration-count: infinite;
}
/*
.travel .travel-info .tr{
    position: absolute;
    display:block;
    margin-bottom: 200px;
    width: 34%;
    top: 50%;
    transform: translateY(-50%);
    left:50%;
    
}*/
.travel .travel-info .left{
    position: absolute;
    display:block;
    margin-bottom: 200px;
    width: 34%;
    top: 50%;
    transform: translateY(-50%);
    left:10%;
    font-size:2rem;
}
.item{
    display:inline-block;
}
.item img{
    width:100%;
    height:400px;
    margin-left:5%;
    margin-bottom:3%;
    border-radius:15px;
    /*이곳의 height를 px로 하면 크기가 일치됨*/
}
.footer{
    display:inline-flex;
   
    
}
.footer .next{
    margin-left:65%;
}
/*caption css*/
.restaurant{
   
    text-align: center;
    font-family: 'Pretendard-Regular';
}
.item{
    display:inline-block;
    width:30%;
    height:30%;
    position: relative;
    margin-left:5px;
    margin-bottom:10px;
}
.caption{
    border-radius: 15px;
    margin-bottom:3%;
    margin-left:5%;
    width:100%;
    height:95%;
    background-color:rgb(0, 0, 0,0.5);
    position:absolute;
    top:0;
    left:0;
    color:#fff;
    padding:20px;
    box-sizing:border-box;
    padding-top:40px ;
    opacity: 0;
    transition: 0.5s;
    text-align:center;

    
}
.caption a{
    color:#fff;
    background-color: teal;
    padding:7px;
    border-radius:15px;
}
.caption a:hover{
    background-color:#fff;
    color:#000;
}

.item:hover .caption{
    opacity: 1;
}
.ib{
    position: absolute;
    background-color:#C5A8A8;
    width: 30%;
    height:100%;
    margin-left: 2%;
}
.ib2{
    position: absolute;
    background-color:#CBC3AC;
    width: 30%;
    height:100%;
    margin-left: 68%;
}
.ib3{
    position: absolute;
    background-color:#B9CAAA;
    width: 30%;
    height:100%;
    margin-left: 2%;
}
.ib4{
    position: absolute;
    background-color:#A7C3C6;
    width: 30%;
    height:100%;
    margin-left: 68%;
}
hr{
    text-align: center;
    width:90%;
    
}